/* GENERAL */
body{
  overflow: auto;
}

ul{
  list-style: none;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}
a,
a:hover{
  text-decoration: none;
  color:black;
}

/* ----------> */


/* HEADER */
header{
  height: 94px;
  border-bottom: 2px solid lightgray;
  padding: 0 20px;
}

/* 
UPPER HEADER 
*/

.upper-header{
  width:100%;
}
.left{
  height: 60px; 
}
.left img{
  width: 72px;
}
.privacy,
.privacy:hover{
  font-size: 22px;
  padding-bottom:5px;
  color: #505357;
  margin-left: 5px;
  text-decoration: none;
}
.right .fa-solid{
  margin-right: -3px;
}

.right a,
.right a:hover{
  color: #5f6368;
  font-size: 18px;
  text-decoration: none;
}
.right button{
  width: 35px;
  height: 35px;
  line-height: 30px;
  border-radius: 50%;
  background-color: #7b1fa2;
  color:white;
  font-weight: 600;
  border: none;
}

/* LOWER HEADER */
.lower-header{
  width: 50%;
}
.lower-header ul {
  height: 34px;
}
.lower-header li a{
 font-weight: 500;
 color: #5f6368;
 padding-bottom: 10px;
}

#active{
  color:rgb(71, 71, 224);
  border-bottom: 3px solid rgb(71, 71, 224);
}